/* soft reset do css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(#c5b0b9,#e0ac22, #dc8d4b);
    background-repeat: no-repeat;
    background-size: 100% auto ;
    font-family: Arial;
    height: 100%;
    font-size: 12px;
}

/* se a tela tiver pelo menos 400 px vai carregar estes estilos */
@media (min-width: 400px) {
 body {
     font-size: 14px;
 }
}

@media (min-width: 600px) {
 body {
     font-size: 18px;
 }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100vw;
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
   display: block;
   padding: 15px 30px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-subtitle,
.site-title {
    color: black;
    text-align: center;
}

.site-title {
    font-size: 4em;
}

.site-subtitle {
    font-style:italic ;
}

.img-portfolio {
    width:180px;
    height:180px;
}